<!DOCTYPE html>
<html>

<head>
    <title><%= nd.tenNguoiDung%></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/admin-style.css" />
</head>

<body>
    <% include header-dangnhap%>
    <section>
        <div class="wrapper">
           
                <div class="icon">
                    <a href="#">
                    <div class="book">
                      <div class="top"></div>
                      <div class="pages">
                        <div class="page"></div>
                        <div class="page"></div>
                        <div class="page"></div>
                        <div class="page"></div>
                        <div class="page"></div>
                        <div class="page"></div>
                        <div class="page"></div>
                        <div class="page"></div>
                        <div class="page"></div>
                        <div class="page"></div>
                        <div class="page"></div>
                      </div>
                      A
                      <div class="bookmark"></div>
                    </div>
                </a>
                    <p class="no-img">Danh sách bài đã đăng</p>
                  </div>
           
          
                <div class="icon">
                    <a href="#">
                    <div class="file">
                      <div class="flip"></div>
                      <div class="holes"></div>
                      <div class="lines"></div>
                    </div>
                </a>
                    <p class="no-img">Thông tin cá nhân</p>
                </div>

                <div class="icon">
                  <a href="#">
                    <img src="/images/DSND.png" >
                  </a>
                  <p class="have-img">Danh sách người dùng</p>
              </div>
              <div class="icon">
                <a href="#">
                  <img src="/images/error-email.png" >
                </a>
                <p class="have-img">Bài Đăng Bị Khiếu Nại</p>
            </div>
            
              
        </div>
    </section>
    <% include footer%>
</body>

</html>