<!DOCTYPE html>
<html>

<head>
    <title>
        CHi tiết
    </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/chitietbaiviet-style.css" />
</head>

<body>
    <% include header-dangnhap%>
        <section>
            <div class="ctbv-main">
                <div class="ctbv-content">

                </div>
            </div>
        </section>
        <% include footer%>
</body>

</html>