<!DOCTYPE html>
<html>

<head>
    <title>Chi Tiết Bài Đăng</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header-style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/chitietbaidang-style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer-style.css" />  
    <script type="text/javascript" src="/javascript/binhluanJS.js"></script>
    </script>
</head>

<body>
    <header>
        <div class="header-div">
            <div class="logo">
                <a href="#"><img src="../img/logo.PNG" alt="logo" height="100px"></a>
            </div>
            <div class="taikhoan">
                <a href="#"><img src="/images/icon-login.png" width="40px"><span>Tài Khoản</span></a>
            </div>
        </div>
        <div class="ul-div">
            <ul>
                <li><a href="#">Diễn Đàn Cha Mẹ Thông Thái</a></li>
                <li><a href="#">Sức Khỏe</a></li>
                <li><a href="#">Giáo Dục</a></li>
                <li><a href="#">Ăn Uống & Dinh Dưỡng</a></li>
                <li><a href="#">Phong Cách Sống</a></li>
            </ul>
        </div>
    </header>
    <section>
        <div class="baonoidung">
            <div class="tieude">
                <p>Tiêu đề</p>
                <img src="/images/suckhoe1.jpg">
            </div>
            <div class="chuaphan">
                <div class="phan">
                    <div class="ndphan">
                        <p class="tieudephan">1. Phan 1</p>
                        <div class="ndchinhphan">
                            Ác mũi khâu ở đáy chậu (vùng nằm giữa âm đạo và hậu môn) có thể khiến bạn cảm thấy khó chịu. Những mũi khâu đó sẽ bắt đầu tiêu chỉ và mất đi trong khoảng 7 ngày sau đó và vết mổ của bạn sẽ nhanh chóng lành lại sau khoảng từ 2 đến 4 tuần (điều đó còn phụ thuộc vào kích cỡ của vết mổ). Ngay cả khi bạn không mổ thì xung quanh vùng đáy chậu của bạn cũng sẽ xuất hiện các vết sưng và bầm tím làm cho bạn cảm thấy không mấy được thoải mái. Khi đó bạn cần phải vệ sinh vùng này thật sạch sẽ và khô ráo trong thời gian lành lại và thay miếng lót thai sản đều đặn.
                        Áp dụng các biện pháp giảm đau đều đặn trong vài ngày đầu sau khi sinh cũng là một yếu tố quan trọng để tạo sự thoải mái cho bạn. Hãy làm theo chế độ P.R.I.C.E sau đây để hỗ trợ cho quá trình lành lặn của bạn:
                        Bảo vệ (Protect) vết khâu khi mở vùng ruột (đặc biệt là khi thực hiện một hành động liên quan đến ruột – đi đại tiện). Hãy gấp một mẩu giấy vệ sinh (hay một miếng lót thai sản sạch sẽ) xung quanh bàn tay của bạn và giữ phía trên vết khâu để giúp bạn cảm thấy thư giãn.
                        Nằm duỗi thẳng (Rest flat)- có thể là nằm thẳng lưng hoặc nằm nghiêng đều đặn khi còn trong bệnh viện và duy trì tư thế đó hàng ngày cho đến khi bạn được xuất viện trở về nhà và cho đến khi vết khâu đã lành lại. Bạn đừng nên ngồi quá lâu, hãy đứng lên và/hoặc đi dạo trong những ngày đầu sau khi sinh.
                        Bạn cũng có thể chườm đá (Ice pack) lên vùng đáy chậu cứ khoảng 1 đến 2 giờ một lần và chỉ chườm trong khoảng 10 đến 15 phút mỗi lần chườm. Phương pháp này có thể sẽ có tác dụng hạn chế các vết sưng và bầm tím và có thể được coi là phương pháp giảm đau “tự nhiên” vào bất cứ thời điểm nào trong giai đoạn phục hồi của bạn.
                        </div>
                    </div>
                    <img src="/images/suckhoe4.jpg">
                </div>
                <div class="phan">
                    <div class="ndphan">
                        <p class="tieudephan">2. Phan 2</p>
                        <div class="ndchinhphan">
                            Ác mũi khâu ở đáy chậu (vùng nằm giữa âm đạo và hậu môn) có thể khiến bạn cảm thấy khó chịu. Những mũi khâu đó sẽ bắt đầu tiêu chỉ và mất đi trong khoảng 7 ngày sau đó và vết mổ của bạn sẽ nhanh chóng lành lại sau khoảng từ 2 đến 4 tuần (điều đó còn phụ thuộc vào kích cỡ của vết mổ). Ngay cả khi bạn không mổ thì xung quanh vùng đáy chậu của bạn cũng sẽ xuất hiện các vết sưng và bầm tím làm cho bạn cảm thấy không mấy được thoải mái. Khi đó bạn cần phải vệ sinh vùng này thật sạch sẽ và khô ráo trong thời gian lành lại và thay miếng lót thai sản đều đặn.
                        Áp dụng các biện pháp giảm đau đều đặn trong vài ngày đầu sau khi sinh cũng là một yếu tố quan trọng để tạo sự thoải mái cho bạn. Hãy làm theo chế độ P.R.I.C.E sau đây để hỗ trợ cho quá trình lành lặn của bạn:
                        Bảo vệ (Protect) vết khâu khi mở vùng ruột (đặc biệt là khi thực hiện một hành động liên quan đến ruột – đi đại tiện). Hãy gấp một mẩu giấy vệ sinh (hay một miếng lót thai sản sạch sẽ) xung quanh bàn tay của bạn và giữ phía trên vết khâu để giúp bạn cảm thấy thư giãn.
                        Nằm duỗi thẳng (Rest flat)- có thể là nằm thẳng lưng hoặc nằm nghiêng đều đặn khi còn trong bệnh viện và duy trì tư thế đó hàng ngày cho đến khi bạn được xuất viện trở về nhà và cho đến khi vết khâu đã lành lại. Bạn đừng nên ngồi quá lâu, hãy đứng lên và/hoặc đi dạo trong những ngày đầu sau khi sinh.
                        Bạn cũng có thể chườm đá (Ice pack) lên vùng đáy chậu cứ khoảng 1 đến 2 giờ một lần và chỉ chườm trong khoảng 10 đến 15 phút mỗi lần chườm. Phương pháp này có thể sẽ có tác dụng hạn chế các vết sưng và bầm tím và có thể được coi là phương pháp giảm đau “tự nhiên” vào bất cứ thời điểm nào trong giai đoạn phục hồi của bạn.
                        </div>
                    </div>
                    <img src="/images/kynangsong3.jpg">
                    <img src="/images/kynangsong1.jpg">
                    <img src="/images/kynangsong2.jpg">
                </div>
                <div class="phan">
                    <div class="ndphan">
                        <p class="tieudephan">3. Phan 3</p>
                        <div class="ndchinhphan">
                            Ác mũi khâu ở đáy chậu (vùng nằm giữa âm đạo và hậu môn) có thể khiến bạn cảm thấy khó chịu. Những mũi khâu đó sẽ bắt đầu tiêu chỉ và mất đi trong khoảng 7 ngày sau đó và vết mổ của bạn sẽ nhanh chóng lành lại sau khoảng từ 2 đến 4 tuần (điều đó còn phụ thuộc vào kích cỡ của vết mổ). Ngay cả khi bạn không mổ thì xung quanh vùng đáy chậu của bạn cũng sẽ xuất hiện các vết sưng và bầm tím làm cho bạn cảm thấy không mấy được thoải mái. Khi đó bạn cần phải vệ sinh vùng này thật sạch sẽ và khô ráo trong thời gian lành lại và thay miếng lót thai sản đều đặn.
                        Áp dụng các biện pháp giảm đau đều đặn trong vài ngày đầu sau khi sinh cũng là một yếu tố quan trọng để tạo sự thoải mái cho bạn. Hãy làm theo chế độ P.R.I.C.E sau đây để hỗ trợ cho quá trình lành lặn của bạn:
                        Bảo vệ (Protect) vết khâu khi mở vùng ruột (đặc biệt là khi thực hiện một hành động liên quan đến ruột – đi đại tiện). Hãy gấp một mẩu giấy vệ sinh (hay một miếng lót thai sản sạch sẽ) xung quanh bàn tay của bạn và giữ phía trên vết khâu để giúp bạn cảm thấy thư giãn.
                        Nằm duỗi thẳng (Rest flat)- có thể là nằm thẳng lưng hoặc nằm nghiêng đều đặn khi còn trong bệnh viện và duy trì tư thế đó hàng ngày cho đến khi bạn được xuất viện trở về nhà và cho đến khi vết khâu đã lành lại. Bạn đừng nên ngồi quá lâu, hãy đứng lên và/hoặc đi dạo trong những ngày đầu sau khi sinh.
                        Bạn cũng có thể chườm đá (Ice pack) lên vùng đáy chậu cứ khoảng 1 đến 2 giờ một lần và chỉ chườm trong khoảng 10 đến 15 phút mỗi lần chườm. Phương pháp này có thể sẽ có tác dụng hạn chế các vết sưng và bầm tím và có thể được coi là phương pháp giảm đau “tự nhiên” vào bất cứ thời điểm nào trong giai đoạn phục hồi của bạn.
                        </div>
                    </div>
                    <img src="/images/kynangsong5.jpg">
                </div>
            </div>
        </div>
        <div class="mucbinhluan">
            <p id="muc-binh-luan">Mục bình luận</p>
            <div class="binhluan">
                <div class="dangbinhluan">
                    <img src="/images/logo.PNG">
                    <textarea >Sức khỏe là vàng</textarea>
                    <button>Đăng</button>
                </div>
                <div class="comments">
                    <article class="comment">
                        <div class="comment-body">
                            <div class="text">
                              <p>Tôi Yêu bạn</p>
                            </div>
                        <p class="attribution">Bởi <a href="#non">Corazon</a> lúc 2020-04-25 10:10:10 <button style="float: right;" onclick="hienBinhLuan(1);">Trả lời</button></p>
                        </div>
                        <div class="dangbinhluan traloibinhluan dangbl" id="1">
                            <img src="../img/logo.PNG">
                            <textarea ></textarea>
                            <button>Đăng</button>
                        </div>
                    </article>
                    
                    <article class="comment">
                        <div class="comment-body">
                            <div class="text">
                              <p>This is a much longer one that will go on for a few lines.</p>
                              <p>It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.</p>
                            </div>
                        <p class="attribution">Bởi <a href="#non">Joe Bloggs</a> lúc 2020-04-25 10:10:10 <button style="float: right;" onclick="hienBinhLuan(2);">Trả lời</button></p>
                        </div>
                        <div class="dangbinhluan traloibinhluan dangbl" id="2">
                            <img src="../img/logo.PNG">
                            <textarea ></textarea>
                            <button>Đăng</button>
                        </div>
                        <div class="comment-body traloibinhluan">
                            <div class="text">
                              <p>This is a much longer one that will go on for a few lines.</p>
                              <p>It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.</p>
                            </div>
                        <p class="attribution">Bởi <a href="#non">Corazon</a> lúc 2020-04-25 10:10:10 </p>
                        </div>
                    </article>
                        
                    <article class="comment">
                        <div class="comment-body">
                            <div class="text">
                              <p>This is a much longer one that will go on for a few lines.</p>
                            </div>
                        <p class="attribution">Bởi <a href="#non">Sơn Dậu</a> lúc 2020-04-25 10:10:10 <button style="float: right;" onclick="hienBinhLuan(3);">Trả lời</button></p>
                        </div>
                        <div class="dangbinhluan traloibinhluan dangbl" id="3">
                            <img src="../img/logo.PNG">
                            <textarea ></textarea>
                            <button>Đăng</button>
                        </div>
                        <div class="comment-body traloibinhluan ">
                            <div class="text">
                              <p>It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.</p>
                            </div>
                        <p class="attribution">Bởi <a href="#non">Joe Bloggs</a> lúc 2020-04-25 10:10:10 </p>
                        </div>
                    </article>
                </div>​
            </div>
        </div>
        <div>
            <p id="muc-quan-tam">Bài viết được quan tâm</p>
            <div>
                <div class="w3-content w3-display-container">
                    <div class="cuon-img">
                        <img class="mySlides" src="../img/suckhoe4.jpg">
                        <img class="mySlides" src="../img/chudedinhduong1.jpg" >
                        <img class="mySlides" src="../img/chudedinhduong2.jpg" >
                        <img class="mySlides" src="../img/chudedinhduong3.jpg" >
                        <img class="mySlides" src="../img/chudedinhduong4.jpg">
                        <img class="mySlides" src="../img/chudedinhduong.jpg" >
                        <img class="mySlides" src="../img/chudegiaoduc2.jpg" >
                        <img class="mySlides" src="../img/kynangsong2.jpg" >
                    </div>
                  
                    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                  </div>
            </div>
        </div>
    </section>
    <footer>Footer</footer>
    <script>
        var list = [0,1,2,3];
        var x = document.getElementsByClassName("mySlides");
        showDivs(list,0,x);
        function plusDivs(n) {
          for(var i = 0; i < 4 ; i++){
              if((list[i]+n)>(x.length-1)){
                list[i] = 0;
            }else if((list[i]+n)<0){
                list[i] = x.length-1;
            }else{
                list[i] += n;
            }
          }
          showDivs(list,n,x);
        }
        
        function showDivs(list,n,x) {
          
          for (var i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          for( var j = 0; j < 4 ;j++){
          x[list[j]].style.display = "block"; 
          }
        }
        </script>
</body>

</html>