<!DOCTYPE html>
<html>

<head>
    <title>Sức Khỏe</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/header-style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/chitietmuc-style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer-style.css" />
    <script type="javascript" src="/javascripts/trangchuJS.js"></script>
</head>

<body>
    <header>
        <div class="header-div">
            <div class="logo">
                <a href="../html/trangchu.html"><img src="../img/logo.PNG" alt="logo" height="100px"></a>
            </div>
            <div class="taikhoan">
                <a href="#"><img src="../img/icon-login.png" width="40px"><span>Tài Khoản</span></a>
            </div>
        </div>
        <div class="ul-div">
            <ul>
                <li><a href="../html/diendan.html">Diễn Đàn Cha Mẹ Thông Thái</a></li>
                <li><a href="../html/chitietmuc.html">Sức Khỏe</a></li>
                <li><a href="#">Giáo Dục</a></li>
                <li><a href="#">Ăn Uống & Dinh Dưỡng</a></li>
                <li><a href="#">Phong Cách Sống</a></li>
            </ul>
        </div>
    </header>
    <section>
        <div class="baonoidung">
            <div class="noidung">
                <!--Sức Khỏe-->
                <div class="muc">
                    <div class="widget-title suckhoe"><a href="#">
                            <h2>Sức Khỏe</h2>
                        </a></div>
                    <div class="ndmuc">
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/suckhoe1.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Sức khỏe là gì</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/suckhoe2.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Giữ sức khỏe cho trẻ</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/suckhoe3.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Sức khỏe cần gì</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/suckhoe4.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Sức khỏe của trẻ rất quan trọng</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/suckhoe5.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Sức khỏe là gì</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="nd-read-more" >Xem Thêm</a>
                    </div>
                </div>
            </div>    
            <div class="ndquantam">
                <div id="baivietquantam">Bài viết được quan tâm</div>
                <a href="#">
                    <div class="chua-nd-qt">
                        <div class="qt-div">
                            <img src="../img/chudegiaoduc.jpg" >
                            <p>Sức khỏe abc sj sdkjfz dkjsvd kldzklj vzd klvádf dsf js dfhs dfghdlv</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="chua-nd-qt">
                        <div class="qt-div">
                            <img src="../img/kynangsong1.jpg" >
                            <p>Sức khỏe abc sj sdkjfz dkjsvd kldzklj vzd klvádf dsf js dfhs dfghdlv</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="chua-nd-qt">
                        <div class="qt-div">
                            <img src="../img/suckhoe3.jpg" >
                            <p>Sức khỏe abc sj sdkjfz dkjsvd kldzklj vzd klvádf dsf js dfhs dfghdlv</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="chua-nd-qt">
                        <div class="qt-div">
                            <img src="../img/chudedinhduong4.jpg" >
                            <p>Sức khỏe abc sj sdkjfz dkjsvd kldzklj vzd klvádf dsf js dfhs dfghdlv</p>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>
    </section>
    <footer>Footer</footer>
</body>

</html>