<!DOCTYPE html>
<html>

<head>
    <title>Trang Chủ</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer-style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <footer class="footer-total">
        <div class="footer">
            <div class="footer-main">
                <div class="footer-row">
                    <div class="footer-row-1 col-sm-5">
                        <div class="footer-logo">
                            <img src="/images/logo.PNG" height="100px" width="135px">
                        </div>
                        <div class="footer-content">
                            <p>Chào mừng bạn đến với diễn đàn chia sẽ kinh nghiệm nuôi dạy chăm sóc con của các bậc cha mẹ.</p>
                        </div>
                    </div>
                    <div class="footer-row-2 col-sm-3">
                        <div class="footer-title-row2">
                            <b>Lưu ý</b>
                        </div>
                        <div class="footer-list-link">
                            <ul>
                                <a href="#">
                                    <li>Câu hỏi thường gặp</li>
                                </a>
                                <br>
                                <a href="#">
                                    <li>Điều khoản sử dụng</li>
                                </a>
                                <br>
                                <a href="#">
                                    <li>Chính sách bảo mật</li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-row-3 col-sm-4">
                        <div class="footer-title-row3">
                            <b>Liên hệ</b>
                        </div>
                        <div class="footer-contact-info">
                            <p>Số 12 Nguyễn Văn Bảo, Phường 4, Gò Vấp, TP.HCM</p>
                            <i class="fa fa-phone-square"></i> Phone : 01233456456
                            <br><i class="fa fa-envelope"></i> Email : toiyeugiadinh@gmail.com
                        </div>
                        <div class="footer-social">
                            <p class="footer-follow">Follow us</p>
                            <div class="footer-link-social">
                                <ul>
                                    <li class="footer-social1">
                                        <a href="">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer-bottom">
            Copyright © 2020 - Phát triển bởi Nhóm 19 Đồ Án Tốt Nghiệp 2019-2020 - ĐHCN TP.HCM
        </div>
    </footer>
</body>


</html>