<!DOCTYPE html>
<html>

<head>
    <title>Trang Chủ</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/header-style.css" />
</head>

<body>
    <header>
        <div class="header-div">
            <div class="logo">
                <a href="/"><img src="/images/logo.PNG" alt="logo" height="100px"></a>
            </div>
            <div class="taikhoan">
                <a href="/taikhoan"><img src="/images/icon-login.png" width="40px"></a>
                <a href="/taikhoan/dangxuat"><img src="/images/logout.png" width="40px"></a>
            </div>
        </div>
        <div class="ul-div">
            <ul>
                <li><a href="#">Diễn Đàn Cha Mẹ Thông Thái</a></li>
                <li><a href="#">Sức Khỏe</a></li>
                <li><a href="#">Giáo Dục</a></li>
                <li><a href="#">Ăn Uống & Dinh Dưỡng</a></li>
                <li><a href="#">Phong Cách Sống</a></li>
            </ul>
        </div>
    </header>
</body>

</html>