<!DOCTYPE html>
<html>

<head>
    <title>
        <%= nd.tenNguoiDung%>
    </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/nguoidung-style.css" />
</head>

<body>
    <% include header-dangnhap%>
        <section>
            <div class="wrapper">

                <div class="icon">
                    <a href="/danhsachbaiviet">
                        <div class="book">
                            <div class="top"></div>
                            <div class="pages">
                                <div class="page"></div>
                                <div class="page"></div>
                                <div class="page"></div>
                                <div class="page"></div>
                                <div class="page"></div>
                                <div class="page"></div>
                                <div class="page"></div>
                                <div class="page"></div>
                                <div class="page"></div>
                                <div class="page"></div>
                                <div class="page"></div>
                            </div>
                            A
                            <div class="bookmark"></div>
                        </div>
                    </a>
                    <p>Danh sách bài đã đăng</p>
                </div>


                <div class="icon">
                    <a href="/capnhatthongtin">
                        <div class="file">
                            <div class="flip"></div>
                            <div class="holes"></div>
                            <div class="lines"></div>
                        </div>
                    </a>
                    <p>Thông tin cá nhân</p>
                </div>
            </div>
        </section>
        <% include footer%>
</body>

</html>