<!DOCTYPE html>
<html>

<head>
    <title>Trang Chủ</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/trangchu-style.css" />
    <script type="javascript" src="/javascripts/trangchuJS.js"></script>
</head>

<body>
    <% include header%>
    <section>
        <div>
            <figure class="snip1360"><img src="/images/chudesuckhoe.jpg" alt="sample43" />
                <figcaption>
                    <h2>Sức Khỏe</h2>
                    <p>Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                        đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p><a href="../html/chitietmuc.html" class="read-more">Xem Thêm</a>
                </figcaption>
            </figure>
            <figure class="snip1360"><img src="/images/chudegiaoduc.jpg" alt="sample43" />
                <figcaption>
                    <h2>Giáo Dục</h2>
                    <p>Giáo dục sớm có ý nghĩa bồi dưỡng tố chất, qua đó giúp trẻ có sự phát triển nổi trội về cả phẩm
                        chất trí tuệ và phi trí tuệ (tính cách, ý chí, nhân cách, thói quen sinh hoạt,…)</p><a href="#"
                        class="read-more">Xem Thêm</a>
                </figcaption>
            </figure>
            <figure class="snip1360"><img src="/images/chudedinhduong.jpg" alt="sample43" />
                <figcaption>
                    <h2>Ăn Uống & Dinh Dưỡng</h2>
                    <p>Bé cần một chế độ ăn uống cân bằng với thức ăn từ cả bốn nhóm thực phẩm-rau và trái cây, ngũ cốc,
                        sữa và các sản phẩm thay thế, và thịt và các sản phẩm thay thế.</p><a href="#"
                        class="read-more">Xem Thêm</a>
                </figcaption>
            </figure>
            <figure class="snip1360"><img src="/images/chudeloisong.jpg" alt="sample43" />
                <figcaption>
                    <h2>Kỹ Năng Sống</h2>
                    <p>Cách tốt nhất mà bạn có thể làm để bảo vệ con chính là trang bị những kỹ năng sống cho trẻ ngay
                        từ nhỏ chuẩn bị cho sự trưởng thành hoàn thiện.</p><a href="#" class="read-more">Xem Thêm</a>
                </figcaption>
            </figure>
        </div>
        <div class="baonoidung">
            <div class="noidung">
                <!--Sức Khỏe-->
                <div class="muc">
                    <div class="widget-title suckhoe"><a href="../html/chitietmuc.html">
                            <h2>Sức Khỏe</h2>
                        </a></div>
                    <div class="ndmuc">
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/suckhoe1.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Sức khỏe là gì</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/suckhoe2.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Giữ sức khỏe cho trẻ</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/suckhoe3.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Sức khỏe cần gì</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/suckhoe4.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Sức khỏe của trẻ rất quan trọng</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/suckhoe5.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Sức khỏe là gì</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="../html/chitietmuc.html" class="nd-read-more" >Xem Thêm</a>
                    </div>
                </div>
                <!--Giáo Dục-->
                <div class="muc">
                    <div class="widget-title giaoduc"><a href="#">
                            <h2>Giáo Dục</h2>
                        </a></div>
                    <div class="ndmuc">
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/chudegiaoduc1.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Giáo Dục là gì</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/chudegiaoduc2.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Giáo Dục là ở đâu là tốt?</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/chudegiaoduc3.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Giáo Dục là tri thức</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/chudegiaoduc4.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Giáo Dục mang lại niềm vui</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/chudegiaoduc5.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Giáo Dục con trẻ như nào là đúng cách</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="nd-read-more" >Xem Thêm</a>
                    </div>
                </div>
                <!--Dinh Dưỡng-->
                <div class="muc">
                    <div class="widget-title dinhduong"><a href="#">
                            <h2>Ăn Uống Và Dinh Dưỡng</h2>
                        </a></div>
                    <div class="ndmuc">
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/chudedinhduong1.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Dinh dưỡng là gì</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/chudedinhduong2.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Ăn uống như thế nào là đúng cách</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/chudedinhduong3.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Dinh dưỡng cho trẻ</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/chudedinhduong4.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Thực phầm mùa corona virus</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/chudedinhduong5.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Những loại thực phầm tốt cho tiêu hóa</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="nd-read-more" >Xem Thêm</a>
                    </div>
                </div>
                <!--Kỹ năng sống-->
                <div class="muc">
                    <div class="widget-title kynangsong"><a href="#">
                            <h2>Kỹ Năng Sống</h2>
                        </a></div>
                    <div class="ndmuc">
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/kynangsong1.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Kỹ năng sống là gì</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/kynangsong2.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Làm sao để dạy trẻ kỹ năng sống</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/kynangsong3.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Rèn luyện kỹ năng tự vệ cho trẻ nhỏ</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/kynangsong4.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Dạy trẻ kỹ năng nhận biết nguy hiểm</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="baidang">
                                <img src="../img/kynangsong5.jpg" alt="baidang"/>
                                <div class="chuand">
                                    <p class="title">Kỹ năng sống có quan trọng cho trẻ không?Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                        đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                    <p class="tomtat">Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.Càng hiểu biết về sự phát triển của bé, bạn sẽ càng cảm thấy tự tin hơn trong việc chăm sóc và
                                    đáp ứng những nhu cầu về chăm sóc sức khỏe cho bé.</p>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="nd-read-more" >Xem Thêm</a>
                    </div>
                </div>
            </div>
            <div class="ndquantam">
                <div id="baivietquantam">Bài viết được quan tâm</div>
                <a href="#">
                    <div class="chua-nd-qt">
                        <div class="qt-div">
                            <img src="../img/chudegiaoduc.jpg" >
                            <p>Sức khỏe abc sj sdkjfz dkjsvd kldzklj vzd klvádf dsf js dfhs dfghdlv</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="chua-nd-qt">
                        <div class="qt-div">
                            <img src="../img/kynangsong1.jpg" >
                            <p>Sức khỏe abc sj sdkjfz dkjsvd kldzklj vzd klvádf dsf js dfhs dfghdlv</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="chua-nd-qt">
                        <div class="qt-div">
                            <img src="../img/suckhoe3.jpg" >
                            <p>Sức khỏe abc sj sdkjfz dkjsvd kldzklj vzd klvádf dsf js dfhs dfghdlv</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="chua-nd-qt">
                        <div class="qt-div">
                            <img src="../img/chudedinhduong4.jpg" >
                            <p>Sức khỏe abc sj sdkjfz dkjsvd kldzklj vzd klvádf dsf js dfhs dfghdlv</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="chua-nd-qt">
                        <div class="qt-div">
                            <img src="../img/chudegiaoduc.jpg" >
                            <p>Sức khỏe abc sj sdkjfz dkjsvd kldzklj vzd klvádf dsf js dfhs dfghdlv</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="chua-nd-qt">
                        <div class="qt-div">
                            <img src="../img/kynangsong1.jpg" >
                            <p>Sức khỏe abc sj sdkjfz dkjsvd kldzklj vzd klvádf dsf js dfhs dfghdlv</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="chua-nd-qt">
                        <div class="qt-div">
                            <img src="../img/suckhoe3.jpg" >
                            <p>Sức khỏe abc sj sdkjfz dkjsvd kldzklj vzd klvádf dsf js dfhs dfghdlv</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="chua-nd-qt">
                        <div class="qt-div">
                            <img src="../img/chudedinhduong4.jpg" >
                            <p>Sức khỏe abc sj sdkjfz dkjsvd kldzklj vzd klvádf dsf js dfhs dfghdlv</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <% include footer%>
</body>

</html>